.btn {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 3px;
}

.btn.red {
    background-color: red;
}

.btn.green {
    background-color: green;
}
.btn.blue {
    background-color: blue;
}
